<!-- src/templates/test.html -->
{% extends 'base.html' %}

{% block content %}
    <h1>This is a test page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut elit id ante ornare lacinia. Aenean at ipsum in urna auctor condimentum. Integer auctor dolor a ante fermentum convallis. Fusce aliquet, velit sed facilisis elementum, sapien mi efficitur risus, a bibendum erat ex eu urna. Pellentesque cursus lorem ut risus vulputate, vitae luctus erat viverra. Maecenas varius diam a nisi pretium, quis lacinia dui auctor. Donec faucibus nisl et mauris semper, a accumsan felis varius. Nunc in lobortis odio. Sed rutrum felis at quam vulputate, ut pretium mi bibendum.</p>
{% endblock %}
